body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    text-align: center;
}

.header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: dodgerblue;
    width: 280px;
    border-radius: 5px;
    padding: 10px 0px;
} 

#container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #000;
    max-width: 300px;
    margin: 5px auto;
    min-height: 242px;
    height: 100%;
}

.linha{
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    width: 38px;
    height: 38px;
    
}

.red {
    background-color: #f00;   
    margin: 1px 0px;
}
.black {
    background-color: #000;   
    margin: 1px 0px;  
}

.col{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;    
    border: 1px blueviolet solid;
    width: 100%;
}

.jogadores{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width:280px;
    margin-bottom: 10px;
}

#player1 span{
    display: inline-block;
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 20px;
}

#player1 p{
    /*box-shadow: 0px 0px 5px 2px #ccc;*/
    padding: 2px 8px;
    border-radius: 20px;
}

#player2 p{
    /*box-shadow: 0px 0px 5px 2px #ccc;*/
    padding: 2px 8px;
    border-radius: 20px;
}

#player2 span{
    display: inline-block;
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 20px;
}

.w3-container p{
    text-align: center;
}

.w3-container {
    text-align: center;
}